{% extends 'AppGl/padre.html' %}

{% load static %}

{% block titulo %}

Bienvenidos

{% endblock %}

{% block descripcion %}
<h1>{{mensaje}}</h1>
<h2>Bienvenido a mi Blog de Recetas</h2>
{% endblock%}

{% block cuerpo %}

<div class="col-lg-auto">
    <!-- Search widget-->
    <div class="d-flex justify-content-end">
        <div class="card mb-auto">
            <form action="/AppGl/buscarReceta/" method="GET">
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Ingresa la receta..." name="nombre" id="nombre" />
                        <input type="submit" value="Buscar">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}